<head>
        <meta charset="utf-8">
        <title>Resonate-Login</title>

        <link rel="shortcut icon" href="favicon.html" type="image/x-icon" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->

        <!-- Stylesheet /--> 
        <link href="netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="all" />


    </head>
    <body>
        <!-- HEADER HOME  -->
        <section id="home">
            <div class="row centered">

                <h1 class="fade-it"><img width = "300px" length=100px alt="YOURLOGO" src="resonate.png"></h1>
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <h2>clean, minimal & responsive</h2>
                            <h2>
                                <i class="icon-desktop"></i>
                                <i class="icon-tablet"></i>
                                <i class="icon-mobile-phone"></i>
                            </h2>
                        </li>
                        <li><h2>Image Centric Resumes</h2></li>
                        <li><h2>... fast easy resume browsing</h2></li>
                    </ul>
                </div>
            </div>

            <!-- LITTLE LOGO SEE WHAT WE DO --> 
            <div><center><a href="/auth/facebook"><img src="login-with-facebook.png" width="154" height="22"></a></center></div>

        </section>
        <!-- JAVA SCRIPTS  --> 
        <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="js/modernizr.custom.js" type="text/javascript" ></script> 
        <script src="js/jquery.scrollto.js"></script>
        <script src="js/waypoints.min.js" type="text/javascript"></script>
        <script src="js/jquery.tweet.js" type="text/javascript"></script>
        <script src="js/custom1.js" type="text/javascript"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/jquery.fancybox.pack.js" type="text/javascript" ></script>
        <script src="js/jquery.fancybox-mediae209.js?v=1.0.0" type="text/javascript"></script>
         <script src="js/retina.js"></script>
        <!--     
        *************** RETINA JS FUNCTIONALITY   ****************
        
        The script assumes you use Apple's prescribed high-resolution modifier (@2x) to denote
        high-resolution image variants on your server.
        
        For example, if you have an image on your page that looks like this:
        <img src="/images/my_image.png" />
        
        The script will check your server to see if an alternative image exists at this path:
        "/images/my_image@2x.png"
        
        That's it! 
        :)

        <!--RETINA JS END-->
        <!-- END JAVA SCRIPTS  --> 

    </body>

<!-- Mirrored from uexel.us/themes/serenity/wide/ by HTTrack Website Copier/3.x [XR&CO'2013], Sun, 29 Sep 2013 17:22:54 GMT -->
</html>
		